# Canonical names for contributors who have committed under more than one
# spelling. See `git help shortlog` for the format.
Elia Walles <eliawalles56@gmail.com> Elia-Walles <eliawalles56@gmail.com>
Albert Mageuzi <mageuzi@ipab.co.tz> mageuzialbert <mageuzi@ipab.co.tz>
Albert Mageuzi <mageuzi@ipab.co.tz> SmarTech <mageuzi@ipab.co.tz>
Ubuntu Afyalink <ubuntuafyalink@gmail.com> ubuntuafyalink <ubuntuafyalink@gmail.com>
